body {
  background-color: #EEE2DC;
  color: #123C69;
  font-family: 'Thasadith', sans-serif;
}

a {
  color: #AC3B61;
}

.header {
  font-family: 'Charm', cursive;
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.foo {
  background-color: #EDC7B7;
}
.bar {
  background-color: #BAB2B5;
}
